<<<<<<<<< Temporary merge branch 1
<div class = "player-container">
<div class="player-hand" id="player">
  {{!-- <h3>{{playerName}}</h3> --}}
  

{{!-- <div class="player-hand" id="{{id}}">
  <h3>{{playerName}}</h3>
  <div class="">
>>>>>>>>> Temporary merge branch 2
    {{#each cards}}
      
   
    <div class = "card" id="{{id}}">
    <img src="{{img_path}}">
    {{/each}}
<<<<<<<<< Temporary merge branch 1
    </div>
=========
  </div>
</div> --}}


{{!-- <div class = "player-container"> --}}
<div class="player-hand" id="player">
    {{#each cards}}
    <div id="{{id}}">
    <img src="{{img_path}}">
    </div>
    {{/each}}
    </div>
</div>
</div>
</div>
{{!-- <div class="player-hand" id="{{id}}">
  {{!-- <h3>{{playerName}}</h3> --}}
  {{!-- <ul>
    {{#each cards}} --}}
      
   
    {{!-- <li>id:{{id}}</li>
    <img src="{{img_path}}">
    {{/each}} --}}
  {{!-- </ul>
</div> --}} 
